/* reset */
a,
address,
body,
div,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
label,
legend,
li,
main,
p,
q,
span,
tfoot,
ol,
ul,
var{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}

footer,
header,
main,
nav,
section {
  display: block
}

[hidden] {
  display: none
}

body {
  font-family: 'Pretendard';
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none
}
a {
  text-decoration: none;
  color: inherit;
}


/* COMMON */
body {
  color: #333;
  font-size: 16px;
}
.wrap {
  width: 100%;
  min-width: 1280px;
}
.wh {
  color: #fff;
}
.hide {
  opacity: 0;
}
.blind {
  text-indent: -9999px;
}
.bold {
  font-weight: 700;
}


/* HEADER */
/* .wrap_fixed {
  position: fixed;
} */
/* logo */
.logo a {
  display: block;
  width: 94px;
  height: 50px;
  position: fixed;
  top: 35px;
  left: 35px;
  background: url(../images/logo_sm_wh.png) no-repeat center;
  z-index: 100;
}

/* txt */
.wrap_fixed .txt {
  display: flex;
  font-family: 'Work Sans';
  position: fixed;
  top: 50%;
  margin-top: -24px;
  font-weight: 800;
  left: 32px;
  transition: .3s;
  transform:     
    translateX(-50%)
    rotate(90deg);
}
.txt .left {
  position: relative;
  margin-right: 70px;
}
.txt .left:after {
  content: '';
  display: block;
  width: 48px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: -60px;
}
.txt .right {
  position: relative;
}
.txt .right li {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(20px);
}

/* pagenation */
.pagenation {
  position: fixed;
  /* width:42px; */
  top: 50%;
  right: 30px;
  z-index: 90;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  text-align: center;
}
.pagenation .page_num {
  overflow: hidden;
  box-sizing: border-box;
}
.pagenation .page_num li {
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  width: 42px;
  height: 14px;
  cursor: pointer;
}
.pagenation .page_num li:not(:last-child) {
  margin-bottom: 12px;
}
.pagenation .page_num li a {
  transform: translateX(-100%);
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
}
.pagenation .page_num li:hover a {
  transform: translateX(0);
}
.pagenation .page_num li:nth-child(1) a {
  transform: translateX(0);
}
.pagenation .page_num li a:after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: calc(100% + 11px);
}

/* donation button */
.donation-btn--sticky {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3;
  width: 356px;
}
.donation-btn--sticky a {
  display: flex;
  align-items: center;
  height: 110px;
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  background: url(../images/sticky_arrow_sm.png) no-repeat 310px 44px;
}
.donation-btn--sticky a:before {
  display: block;
  content: '';
  height: 110px;
  background-color: #f6cc00;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .3s;
}
.donation-btn--sticky a img {
  position: absolute;
  bottom: 10px;
  right: 64px;
  height: 150px;
}


/* VISUAL */

/* shapes */
.visual {
  height: 100vh;
  background: url(../images/visual_bg.png) center no-repeat;
  position: relative;
  overflow: hidden;
}
.shapes img {
  position: absolute;
}
.lefttop {
  top: 0;
  left: 0;
  height: 98%;
  z-index: 10;
}
.leftbottom {
  bottom: 0;
  left : 0;
  height: 80%;
  z-index: 10;
}
.righttop {
  top: 0;
  right: 0;
  height: 98%;
  z-index: 10;
}
.rightbottom {
  bottom: 0;
  right : 0;
  height: 56%;
  z-index: 10;
}

/* title */
.visual .tit {
  position: relative;
  text-align: center;
  top: 50%;
  z-index: 20;
  transform: translateY(-50%);
}
.subtitle {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
}
.tit>p>img {
  height: 320px;
}

/* deco */
.deco
.el_earth {
  position: absolute;
  top: 4%;
  left: 24%;
  height: 240px;
  z-index: 20;
}
.el_sun {
  position: absolute;
  top: 100px;
  right: 290px;
  z-index: 20;
}
.el_trees1 {
  position: absolute;
  bottom: -20px;
  left: 33%;
  transform: scaleX(-1);
}
.el_trees2 {
  position: absolute;
  bottom: -10px;
  left: 44%;
  height: 270px; 
  transform: scaleX(-1);
}
.el_trees3 {
  position: absolute;
  bottom: -8px;
  right: 28%;
  height: 150px;
}

/* CONT01 */
.cont01 {
  position: relative;
  height: 300vh;
  /* background: #000; */
}
.cont01 .content {
  position: sticky;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: url(../images/cont1_bg01.png) no-repeat center/cover;
  top: 0;
  left: 0;
}
.content .bg02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(../images/cont1_bg02.png) no-repeat center/cover;
  z-index: 20;
}
.content .bg03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 30;
  background: url(../images/cont1_bg03.png) no-repeat center/cover;
}
.tit_set {
  position: relative;
  left: 6%;
  top: 18%;
  z-index: 40;
  display: flex;
  flex-direction: column;
  width: 925px;
}
.tit_set .tit {
  margin-bottom: 80px;
  display: inline-block;
  /* position: relative; */
}
.tit_set .tit img {
  display: inline-block;
}
.clock {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 2.5%;
  left: 40%;
}
.clock .hour {
  position: absolute;
  content: '';
  width: 34px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(45deg);
}
.clock .hour::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}
.clock .min {
  position: absolute;
  content: '';
  width: 44px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(-90deg);
}

.clock .min::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}
.cont01 .txt {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
  margin-left: 4%;
  line-height: 1.3em;
}

/* cont02 */
.cont02 {
  width: 100%;
  /* height: 100vh; */
  background: #000;
  color: #fff;
  position: relative;
}
.cont02_inner {
  position: sticky;
  height: 100vh;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.dis_table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.table_cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.title .suggestion01 {
  width: 1200px;
  position: relative;
  margin: auto;
}
.suggestion01 .tit {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Dela Gothic One';
  height: 108px;
  position: relative;
  filter: blur(4px);
}
.tit .block01 {
  margin-right: 30px;
  position: absolute;
  left: 0;
}
.tit .block02 {
  position: absolute;
  right: 0;
}
.title_set .inner_txt {
  margin-top: 60px;
}
.inner_txt .item01 {
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 4.0rem;
}

.blankEl {
  width: 100%;
  height: 100vh;
}

/* cont03 */
.wrap_cont03 {
  height: 100%;
}
.cont03 {
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  padding: 0 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.itm {
  box-sizing: border-box;
  width: 100%;
}
/* item01 */
.cont03 .item01 {
  width: 900px;
  height: 700px;
  background: url(../images/cont03_img01.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 300px;
}
.cont03 .item01 .p1 {
  line-height: 1.2em;
  font-size: 40px;
}
.cont03 .item01 .p2 {
  line-height: 1.2em;
  font-size: 80px;
}
.item01 .para2 {
  text-align: end;
}
/* item02 */
.cont03 .item02 {
  text-align: right;
  width: 900px;
  height: 700px;
  background: url(../images/cont03_img02.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 320px auto;
}
.cont03 .item02 .para1 .p1 {
  font-size: 80px;
  line-height: 1.2em;
}
.cont03 .item02 .para1 .p2 {
  font-size: 40px;
}
.cont03 .item02 .para2 .p1 {
  font-size: 40px;
}


/* item03 */
.cont03 .item03 {
  width: 900px;
  height: 700px;
  background: url(../images/cont03_img03.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 320px;
}

/* item04 */
.cont03 .item04 {
  width: 900px;
  height: 700px;
  background: url(../images/cont03_img04.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 auto auto;
}