/* reset */
a,
address,
body,
div,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
label,
legend,
li,
main,
p,
q,
span,
tfoot,
ol,
ul,
var{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}

footer,
header,
main,
nav,
section {
  display: block
}

[hidden] {
  display: none
}

body {
  font-family: 'Pretendard';
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none
}
a {
  text-decoration: none;
  color: inherit;
}

/* COMMON */
body {
  color: #333;
  font-size: 16px;
}
.wrap {
  width: 100%;
  min-width: 1280px;
}
.wh {
  color: #fff;
}
.hide {
  opacity: 0;
}
.blind {
  text-indent: -9999px;
}
.bold {
  font-weight: 700;
}
.rm5 {
  font-size: 5rem;
}
.mt-20 {
  margin-top: 20px;
}
.mt-150 {
  margin-top: 150px;
}



/* HEADER */
/* .wrap_fixed {
  position: fixed;
} */
/* logo */
.logo a {
  display: block;
  width: 94px;
  height: 50px;
  position: fixed;
  top: 35px;
  left: 35px;
  background: url(../images/logo_sm_wh.png) no-repeat center;
  z-index: 100;
}

/* txt */
.wrap_fixed .pg_title {
  z-index: 90;
  display: flex;
  font-family: 'Work Sans';
  position: fixed;
  top: 50%;
  margin-top: -24px;
  font-weight: 800;
  left: 32px;
  transition: .3s;
  transform:     
    translateX(-50%)
    rotate(90deg);
}
.pg_title .left {
  position: relative;
  margin-right: 70px;
}
.pg_title .left:after {
  content: '';
  display: block;
  width: 48px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: -60px;
}
.pg_title .right {
  position: relative;
}
.pg_title .right li {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(20px);
}

/* pagenation */
.pagenation {
  position: fixed;
  /* width:42px; */
  top: 50%;
  right: 30px;
  z-index: 90;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  text-align: center;
  opacity: 1;
}
.pagenation .page_num {
  overflow: hidden;
  box-sizing: border-box;
}
.pagenation .page_num li {
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  width: 42px;
  height: 14px;
  cursor: pointer;
}
.pagenation .page_num li:not(:last-child) {
  margin-bottom: 12px;
}
.pagenation .page_num li a {
  transform: translateX(-100%);
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
}
.pagenation .page_num li:hover a {
  transform: translateX(0);
}
.pagenation .page_num li:nth-child(1) a {
  transform: translateX(0);
}
.pagenation .page_num li a:after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: calc(100% + 11px);
}

/* donation button */
.donation-btn--sticky {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3;
  width: 356px;
}
.donation-btn--sticky a {
  display: flex;
  align-items: center;
  height: 110px;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  background: url(../images/sticky_arrow_sm.png) no-repeat 310px 44px;
}
.donation-btn--sticky a:before {
  display: block;
  content: '';
  height: 110px;
  background-color: #f6cc00;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .3s;
  border-radius: 40px 40px 0 0;
}
.donation-btn--sticky a img {
  position: absolute;
  bottom: 0;
  right: 64px;
  height: 150px;
}


/* VISUAL */

/* shapes */
.visual {
  height: 100vh;
  background: url(../images/visual_bg.png) center no-repeat;
  position: relative;
  overflow: hidden;
}
.shapes img {
  position: absolute;
}
.lefttop {
  top: 0;
  left: 0;
  height: 98%;
  z-index: 10;
}
.leftbottom {
  bottom: 0;
  left : 0;
  height: 80%;
  z-index: 10;
}
.righttop {
  top: 0;
  right: 0;
  height: 98%;
  z-index: 10;
}
.rightbottom {
  bottom: 0;
  right : 0;
  height: 56%;
  z-index: 10;
}

/* title */
.visual .tit {
  position: relative;
  text-align: center;
  top: 27%;
  z-index: 20;
}
.visual .subtitle {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
}
.tit>p>img {
  height: 320px;
}

/* deco */
.deco
.el_earth {
  position: absolute;
  top: 4%;
  left: 24%;
  height: 26vh;
  z-index: 20;
}
.el_sun {
  position: absolute;
  top: 100px;
  right: 290px;
  z-index: 20;
}
.el_trees1 {
  position: absolute;
  bottom: -20px;
  left: 33%;
  transform: scaleX(-1);
}
.el_trees2 {
  position: absolute;
  bottom: -10px;
  left: 44%;
  height: 230px; 
  transform: scaleX(-1);
}
.el_trees3 {
  position: absolute;
  bottom: -8px;
  right: 36vw;
  height: 120px;
}

/* CONT01 */
.cont01 {
  position: relative;
  height: 300vh;
  /* background: #000; */
}
.cont01 .content {
  position: sticky;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: url(../images/cont1_bg01.jpg) no-repeat center/cover;
  top: 0;
  left: 0;
}
.cont01 .content.fixed {
  position: fixed;
}

.content .bg02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(../images/cont1_bg02.png) no-repeat center/cover;
  z-index: 20;
}
.content .bg03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 30;
  background: url(../images/cont1_bg03.png) no-repeat center/cover;
}
.tit_set {
  position: relative;
  left: 6%;
  top: 18%;
  z-index: 40;
  display: flex;
  flex-direction: column;
  width: 925px;
}
.tit_set .tit {
  margin-bottom: 50px;
  display: inline-block;
  /* position: relative; */
}
.tit_set .tit img {
  display: inline-block;
}
.clock {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 2.5%;
  left: 40.5%;
  /* transform: translateX(-50%); */
}
.clock .hour {
  position: absolute;
  content: '';
  width: 28px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(30deg);
}
.clock .hour::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}
.clock .min {
  position: absolute;
  content: '';
  width: 44px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(-90deg);
}

.clock .min::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}
.cont01 .txt {
  text-align: center;
  color: #fff;
  font-size: 3.0rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 4%;
  line-height: 1.4em;
}
.cont01 .txt .line {
  overflow: hidden;
}
.cont01 .txt .line01{
  transition: all 0.7s ease;
  transform: translateY(100%);
} 
.cont01 .txt .line2 {
  transform: translateY(100%);
  transition: all 0.7s 0.3s ease;
  
}

/* cont02 */
/* 배경색 */
.cont02 {
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
}
.cont02::before {
  content:"";
  background-color: #00aeef;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1.5s ease;
}
.cont02.show::before {
  width: 100%;
}
.cont02_inner {
  position: sticky;
  height: 100vh;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.dis_table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.table_cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.title {
  position: relative;
  height: 108px;
  font-weight: 400;
  font-family: 'Dela Gothic One';
}
.title .suggestion01 {
  position: absolute;
  height: auto;
  width: 1140px;
  font-size: 6rem;
  height: 108px;
  filter: blur(4px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .7s ease;
  line-height: 1.2em;
}
.suggestion01 .block01 {
  position: absolute;
  transition: 
    filter .6s ease,
    opacity .7s .2s ease;  
  left: 0;
}
.suggestion01 .block02 {
  position: absolute;
  transition: all 1s ease;
  right: 0;
}


.title .suggestion02 {
  width: 1000px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4.0rem;
  text-align: right;
  opacity: 0;
  transition: all 1s ease;
}
.suggestion02 .block01 img {
  height: 93px;
  margin-bottom: -20px;
}
.suggestion02 .block02 {
  line-height: 1.2em;
}

.title_set .inner_txt {
  margin-top: 60px;
  position: relative;
  height: 130px;
}
.inner_txt .itm {
  position: absolute;
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 4.0rem;
  transition: all 1.5s ease;
}
.inner_txt .itm.item01 {
  opacity: 1;
}
.inner_txt .itm.item02 {
  opacity: 0;
  color: #666
}
.inner_txt .itm.item03 {
  opacity: 0;
}

.pointColor {
  color: #fff
}

.blank01 {
  height: 100vh;
}

/* cont03 */
.wrap_cont03 {
  height: 100%;
  position: relative;
  z-index: 1;
}
.cont03 {
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  padding: 0 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
.itm {
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
}
/* item01 */
.cont03 .item01 {
  width: 44vw;
  height: 80vh;
  background: url(../images/cont03_img01.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 200px;
}
.cont03 .item01 .p1 {
  line-height: 1.2em;
}
.cont03 .item01 .p2 {
  line-height: 1.2em;
  font-size: 5rem;
}
.item01 .para2 {
  text-align: end;
}
/* item02 */
.cont03 .item02 {
  text-align: right;
  width: 50vw;
  height: 80vh;
  background: url(../images/cont03_img02.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 250px auto;
}
.cont03 .item02 .para1 .p1 {
  font-size: 80px;
}
.cont03 .item02 .para1 .p2 {
  font-size: 40px;
  line-height: 1.4em;
}
.cont03 .item02 .para2 .p1 {
  font-size: 40px;
  line-height: 1.4em;
}


/* item03 */
.cont03 .item03 {
  width: 48vw;
  height: 90vh;
  background: url(../images/cont03_img03.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 220px;
}
.item03 .para1 .p2 {
  line-height: 1.2em;
}

/* item04 */
.cont03 .item04 {
  width: 50vw;
  height: 80vh;
  background: url(../images/cont03_img04.jpg) no-repeat center/cover;
  position: relative;
  z-index: 10;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 auto auto;
}
.item04 .para1 .p1 {
  line-height: 1.4em;
}
.item04 .para2{
  text-align: right;
}

/* blank */
.blank02 {
  height: 100vh;
}
.blank03 {
  height: 120vh;
  position:relative;
}
/* ani_shape */
.shapes_set {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.shapes_set .item {
  position: absolute;
  transition: all 1.3s ease;
}
.shapes_set .item01 {
  z-index: 20;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
.shapes_set .item02 {
  z-index: 30;
  top: 3%;
  left: 34%;
  height: 14vh;
  transform: translate(-100%, -150%);
}
.shapes_set .item03 {
  z-index: 10;
  top: 0;
  left: 20%;
  transform: 
    translate(0%, -100%)
    rotateY(180deg);
  
}
.shapes_set .item04 {
  z-index: 20;
  top: 6%;
  right: 20.5%;
  transform: translate(0, -150%);
}
.shapes_set .item05 {
  z-index: 10;
  top: 0;
  right: 0;
  transform: translate(-100%, -100%);
}
.shapes_set .item06 {
  z-index: 10;
  top: 0;
  right: 0;
  transform: translate(-100%, -100%);
}
.shapes_set .item07 {
  z-index: 20;
  bottom: 36%;
  right: 1%;
  transform: translate(150%, 0%);
}
.shapes_set .item08 {
  z-index: 10;
  bottom: 0;
  right: 0;
  transform: translate(150%, 150%);
}
.shapes_set .item09 {
  z-index: 10;
  bottom: 0;
  left: 5%;
  transform: translate(0%, 100%);
}
.shapes_set .item10 {
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0%);
}
.shapes_set .item11 {
  z-index: 0;
  bottom: 20%;
  left: 0;
  transform: translate(-100%, 0%);
}
.shapes_set .item12 {
  height: 27%;
  z-index: 10;
  bottom: 40%;
  left: 2%;
  transform: 
    translate(-150%, 0%)
    rotateY(5deg);
}
.shapes_set .item13 {
  z-index: 20;
  top: 18%;
  left: 4%;
  height: 17%;
  transform: 
    translate(-150%, -150%)
    rotateY(180deg);
}

/* Cont04 */
.cont04 {
  height: 100vh;
  font-weight: 700;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.cont04_inner {
  width: 100%;
  height: 100%;
  display: flex;
}
.cont04 .txt-area {
  width: 60vw;
  display: flex;
  font-size: 4rem;
  padding: 150px 100px;
  text-align: center;
}
.cont04 .txt-area .cont04_wrap {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 line-height: 1.2em;
 position: relative;
}
.cont04 .txt-area .cont04_wrap .p1 {
  position: relative;
  margin-top: 160px;
}
.cont04 .txt-area .cont04_wrap .p1:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../images/icn_quote_bk.png) no-repeat center;
  top: -100px;
  left: 50%;
  transform: translateX(-50%)
}
.bg_wrap {
  width: 40vw;
  padding: 20px;
}
.cont04 .bg {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../images/cont04_img01.png) no-repeat center / cover ;
  box-shadow: 1px 4px 12px 2px rgba(151, 151, 151, 0.3);
}
.ambassador {
  font-size: 2rem;
  position: relative;
  margin-top: 100px
}
.cont04 .txt-area .ambassador:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* Cont05 */
.cont05 {
  height: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
}
.cont05 .contents_wrap {
  width: calc(100% - 200px);
  margin: 0 auto;
  display: flex;
}
.cont05 .title {
  color: #fff;
  box-sizing: border-box;
  font-family: 'Pretendard';
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 14px;
  margin-right: 20px;
  padding-top: 8%;
  width: 33.4%;
  height: 551px;
  background: url(../images/00.png) center bottom 20% / 50% no-repeat #2c96e1;
  box-shadow: 0 0 8px 3px rgba(151, 151, 151, 0.3);
}
.cont05 .title .tit {
  display: block;
  line-height: 1.3em;
}
.cont05 .title .tit:nth-child(3) {
  font-size: 2.4em;
  line-height: 1.4em;
}
.howToList {
  display: flex;
  width: 66.6%;
  /* overflow: hidden; */
}
.howToList .item {
  width: calc(50% - 20px);
  margin-right: 20px;
  height: 551px; 
  box-shadow: 0 0 8px 3px rgba(151, 151, 151, 0.3);
  border-radius: 14px;
  box-sizing: border-box;
  background: #fff;
  padding: 100px 50px;
  color: #555;
  position: relative;
}

.howToList .item h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.howToList .item p {
  text-indent: 10px;
  line-height: 1.4em;
}
.howToList .itm01:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 30%;
  bottom: 10px;
  right: 20px;
  opacity: .6;
  background: url(../images/01.png) center/cover no-repeat;
}
.howToList .itm02:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 30%;
  bottom: 20px;
  right: 20px;
  opacity: .6;
  background: url(../images/02.png) center/cover no-repeat;
}

/* CONT06 */
.cont06 {
  height: 100vh;
  position: relative;
  z-index: 1;
}
.cont06 .container {
  color: #fff;
  width: 100%;
  height: 100%;
  background: url(../images/cont06_bg.png) no-repeat center/cover;
  position: relative;
}
.cont06 .cont-area {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.cont06 .subtitle {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.cont06 .tit {
  font-size: 3.0rem;
  font-weight: 700;
  line-height: 1.4em;
}
.cont06 .btn-common {
  margin-top: 40px;
  width: 100%;
}
.cont06 .btn-common a {
  box-sizing: border-box;
  border-radius: 14px;
  display: block;
  width: 70%;
  padding: 20px;
  font-weight: 700;
  line-height: 1.4;
  background: url(../images/arrow_rt.png) no-repeat center right 10% #000;
}

/* FOOTER */
.footer {
  padding: 40px 0;
  background-color: #000;
  text-align: center;
  z-index: 1;
  position: relative;
}
.footer .logo_footer {
  width: 100px;
  height: 40px;
  background: url(../images/logo_sm_wh.png) no-repeat center/contain;
  margin: 0 auto;
  opacity: 0.6;
}
.copy {
  color: #666;
  margin-top: 20px;
}