/* reset */
a,
body,
div,
footer,
h1,
h2,
h3,
h4,
header,
html,
img,
li,
main,
p,
span,
ol,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

footer,
header,
main,
nav,
section {
  display: block
}

[hidden] {
  display: none
}

body {
  overflow-x: hidden;
  font-family: 'Pretendard';
  line-height: 1;
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

/* COMMON */

body {
  color: #333;
  font-size: 16px;
}

.wrap {
  width: 100%;
  /* overflow-x: hidden; */
}

.wh {
  color: #fff;
}

.hide {
  opacity: 0;
}

.blind {
  text-indent: -9999px;
}

.bold {
  font-weight: 700;
}

.rm5 {
  font-size: 5rem;
}

.mt-20 {
  margin-top: 20px;
}

.mt-150 {
  margin-top: 150px;
}


/* HEADER */

/* logo */
.logo a {
  display: block;
  width: 94px;
  height: 50px;
  position: fixed;
  top: 2%;
  left: 1%;
  background: url(../images/logo_sm_wh.png) no-repeat center;
  z-index: 100;
}

/* txt */
.wrap_fixed .pg_title {
  z-index: 90;
  display: flex;
  font-family: 'Work Sans';
  position: fixed;
  top: 50%;
  margin-top: -24px;
  font-weight: 800;
  left: 1.5%;
  opacity: 0;
  transform:
    translateX(-50%) rotate(90deg);
}

.pg_title.dn0,
.pg_title.dn1,
.pg_title.dn2,
.pg_title.dn3,
.pg_title.dn4,
.pg_title.dn5,
.pg_title.dn6 {
  opacity: 1;
  color: #fff
}

.pg_title.dn3 {
  transition: transform 1s ease;
}

.pg_title.dn4,
.pg_title.dn5 {
  color: #000;
}

.pg_title .left {
  position: relative;
  margin-right: 70px;
}

.pg_title .left:after {
  content: '';
  display: block;
  width: 48px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: -60px;
}

.pg_title.dn4 .left:after,
.pg_title.dn5 .left:after {
  background: #000;
}

.pg_title .right {
  position: relative;
}

.pg_title .right li {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.6s ease;
}

.pg_title.dn1 .right li[data-no='01'],
.pg_title.dn2 .right li[data-no='02'],
.pg_title.dn3 .right li[data-no='03'],
.pg_title.dn4 .right li[data-no='04'],
.pg_title.dn5 .right li[data-no='05'],
.pg_title.dn6 .right li[data-no='06'] {
  opacity: 1;
  transform: translateY(0);
}

/* pagenation */
.pagenation {
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 90;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  text-align: center;
  opacity: 1;
}

.pagenation.hide {
  opacity: 0;
}

.pagenation .page_num {
  overflow: hidden;
  box-sizing: border-box;
}

.pagenation .page_num li {
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  width: 42px;
  height: 14px;
  cursor: pointer;
}

.pagenation .page_num li:not(:last-child) {
  margin-bottom: 12px;
}

.pagenation .page_num li a {
  transform: translateX(-100%);
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.4s ease;
}

.pagenation .page_num li:hover a {
  transform: translateX(0);
}


.pagenation.dp0 .page_num>li>a[data-pg="0"],
.pagenation.dp1 .page_num>li>a[data-pg="1"],
.pagenation.dp2 .page_num>li>a[data-pg="2"],
.pagenation.dp3 .page_num>li>a[data-pg="3"],
.pagenation.dp4 .page_num>li>a[data-pg="4"],
.pagenation.dp5 .page_num>li>a[data-pg="5"],
.pagenation.dp6 .page_num>li>a[data-pg="6"] {
  transform: translateX(0);
}

.pagenation.dp3 .page_num>li>a[data-pg="3"] {
  opacity: 1;
}

.pagenation.dp4 .page_num>li,
.pagenation.dp5 .page_num>li {
  color: #000;
}

.pagenation .page_num li a:after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: calc(100% + 11px);
}

.pagenation.dp4 .page_num li a:after,
.pagenation.dp5 .page_num li a:after {
  background-color: #000;
}

/* donation button */
.donation-btn--sticky {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3;
  width: 356px;
}

.donation-btn--sticky a {
  display: flex;
  align-items: center;
  height: 110px;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  background: url(../images/sticky_arrow_sm.png) no-repeat 310px 44px;
}

.dona-btn {
  display: none;
}

.donation-btn--sticky a:before {
  display: block;
  content: '';
  height: 110px;
  background-color: #f6cc00;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .3s;
  border-radius: 36px 36px 0 0;
}

.donation-btn--sticky a img {
  position: absolute;
  bottom: 0;
  right: 64px;
  height: 150px;
}
.donation-btn--sticky .dona-btn {
  display: none;
}


/* VISUAL */

/* shapes */
.visual {
  height: 100vh;
  background: url(../images/visual_bg.png) center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.shapes img {
  position: absolute;
  z-index: 10;
}

.lefttop {
  top: 0;
  left: 0;
  width: 34%;
}

.leftbottom {
  bottom: 0;
  left: 0;
  width: 31%;
}

.righttop {
  top: 0;
  right: 0;
  width: 30%;
}

.rightbottom {
  bottom: 0;
  right: 0;
  width: 35%;
}

/* title */
.visual .tit {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

.visual .subtitle {
  line-height: 1.2em;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 900;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.tit>p>img {
  width: 34%;
}

/* deco */
.deco .el_earth {
  position: absolute;
  top: 4%;
  left: 24%;
  width: 14%;
  z-index: 20;
}

.el_sun {
  position: absolute;
  top: 8%;
  right: 15%;
  z-index: 20;
}

.el_trees1 {
  position: absolute;
  bottom: -2%;
  left: 33%;
  transform: scaleX(-1);
}

.el_trees2 {
  position: absolute;
  bottom: -1%;
  left: 44%;
  width: 12%;
  transform: scaleX(-1);
}

.el_trees3 {
  position: absolute;
  bottom: -1%;
  right: 30%;
  width: 8%;
}

/* CONT01 */
.cont01 {
  position: relative;
  height: 300vh;
}

.cont01 .content {
  position: sticky;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: url(../images/cont1_bg01.png) no-repeat center/cover;
  top: 0;
  left: 0;
}

.cont01 .content.fixed {
  position: fixed;
}

.content .bg02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(../images/cont1_bg02.png) no-repeat center/cover;
  z-index: 20;
}

.content .bg03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 30;
  background: url(../images/cont1_bg03.png) no-repeat center/cover;
}

.tit_set {
  position: absolute;
  left: 6%;
  top: 18%;
  z-index: 40;
  display: flex;
  flex-direction: column;
  width: 940px;
}

.tit_set .tit {
  margin-bottom: 50px;
  display: inline-block;
}

.tit_set .tit img {
  display: inline-block;
  width: 100%;
}

.clock {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 2.5%;
  left: 40.5%;
}

.clock .hour {
  position: absolute;
  content: '';
  width: 28px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(30deg);
}

.clock .hour::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}

.clock .min {
  position: absolute;
  content: '';
  width: 44px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(-90deg);
}

.clock .min::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: -10px;
}

.cont01 .txt {
  text-align: center;
  color: #fff;
  font-size: 3.0rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 4%;
  line-height: 1.4em;
}

.cont01 .txt .line {
  overflow: hidden;
}

.cont01 .txt .line01 {
  transition: all 0.7s ease;
  transform: translateY(100%);
}

.cont01 .txt .line2 {
  transform: translateY(100%);
  transition: all 0.7s 0.3s ease;

}

/* cont02 */
.cont02 {
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
}

.cont02::before {
  content: "";
  background-color: #00aeef;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.cont02.show::before {
  width: 100%;
  transition: all 1s 0.6s ease;
}

.cont02_inner {
  position: sticky;
  height: 100vh;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.dis_table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.table_cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.title {
  position: relative;
  height: 108px;
  font-weight: 400;
  font-family: 'Dela Gothic One';
}

.title .suggestion01 {
  position: absolute;
  height: auto;
  width: 1140px;
  font-size: 6rem;
  height: 108px;
  filter: blur(4px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    filter 0.7s ease,
    opacity 0.7s ease;
  line-height: 1.1;
}

.suggestion01 .block01 {
  position: absolute;
  transition:
    filter .6s ease,
    opacity .7s .2s ease;
  left: 0;
}

.suggestion01 .block02 {
  position: absolute;
  transition: transform 1s ease;
  right: 0;
}

.cont02.show .suggestion02 {
  opacity: 1;
}

.title .suggestion02 {
  width: 1000px;
  height: 108px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 68px;
  text-align: right;
  opacity: 0;
  transition: all 1s ease;
  line-height: 1.2em;
}

.suggestion02 .block01 img {
  height: 93px;
  margin-bottom: -20px;
}

.suggestion02 .block02 {}

.title_set .inner_txt {
  margin-top: 40px;
  position: relative;
  height: 130px;
}

.inner_txt .itm {
  position: absolute;
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 1.3em;
}

.inner_txt .itm.item01 {
  transition: all 1.5s ease;
  opacity: 1;
}

.inner_txt .itm.item02 {
  transition: all 1.5s ease;
  opacity: 0;
  color: #666
}

.cont02.show .itm.item03 {
  transition: all 1.5s ease;
  opacity: 1;
}

.inner_txt .itm.item03 {
  opacity: 0;
}

.pointColor {
  color: #fff
}

.blank01 {
  height: 100vh;
}

/* cont03 */
.wrap_cont03 {
  height: 100%;
  position: relative;
  z-index: 1;
}

.cont03 {
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  padding: 0 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.itm {
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
}

.cont03 .itm {
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
  height: 80vh;
  max-width: 800px;
  max-height: 800px;
  z-index: 10;
  padding: 50px;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

/* item01 */
.cont03 .item01 {
  background: url(../images/cont03_img01.jpg) no-repeat center/cover;
  margin-bottom: 200px;
}

.cont03 .item01 .p1 {
  line-height: 1.2em;
}

.cont03 .item01 .p2 {
  font-size: 5rem;
}

.item01 .para2 {
  text-align: end;
}

/* item02 */
.cont03 .item02 {
  text-align: right;
  width: 50vw;
  height: 80vh;
  background: url(../images/cont03_img02.jpg) no-repeat center/cover;

  margin: 0 0 250px auto;
}

.cont03 .item02 .para1 .p1 {
  font-size: 5rem;
}

.cont03 .item02 .para1 .p2,
.cont03 .item02 .para2 .p1 {
  font-size: 2.5rem;
  line-height: 1.4em;
}


/* item03 */
.cont03 .item03 {
  width: 48vw;
  height: 90vh;
  background: url(../images/cont03_img03.jpg) no-repeat center/cover;

  margin-bottom: 220px;
}

.item03 .para1 .p2 {
  line-height: 1.2em;
}

/* item04 */
.cont03 .item04 {
  width: 50vw;
  height: 80vh;
  background: url(../images/cont03_img04.jpg) no-repeat center/cover;

  margin: 0 0 auto auto;
}

.item04 .para1 .p1 {
  line-height: 1.4em;
}

.item04 .para2 {
  text-align: right;
}

/* blank */
.blank02 {
  height: 100vh;
}

.blank03 {
  height: 150vh;
  position: relative;
}

/* ani_shape */

.shapes_set .item {
  position: absolute;
  display: block;
  transition: all 1s ease;
}

.cont02.show .shapes_set .item {
  transform: translate(0%, 0%);
  transition: all 1.5s 1s ease;
}

.shapes_set .item01 {
  z-index: 20;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.shapes_set .item02 {
  z-index: 30;
  top: 4%;
  left: 34%;
  transform: translate(-130%, -200%);
}

.shapes_set .item03 {
  z-index: 10;
  top: 0;
  left: 22%;
  transform: rotateY(90deg);
  transform: translate(0%, -150%);
}

.shapes_set .item04 {
  z-index: 20;
  top: 6%;
  right: 20.5%;
  transform: translate(50%, -200%);
}

.shapes_set .item05 {
  z-index: 9;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.shapes_set .item06 {
  z-index: 10;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.shapes_set .item07 {
  z-index: 20;
  bottom: 36%;
  right: 1%;
  transform: translate(150%, 0%);
}

.shapes_set .item08 {
  z-index: 10;
  bottom: 0;
  right: 0;
  transform: translate(150%, 150%);
}

.shapes_set .item09 {
  z-index: 9;
  bottom: 0;
  left: 5%;
  transform: translate(0%, 100%);
}

.shapes_set .item10 {
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0%);
}

.shapes_set .item11 {
  z-index: 0;
  bottom: 20%;
  left: 0;
  transform: translate(-100%, 0%);
}

.shapes_set .item12 {
  height: 27%;
  z-index: 10;
  bottom: 40%;
  left: 2%;
  transform: rotateY(5deg);
  transform: translate(-150%, 0%);
}

.shapes_set .item13 {
  z-index: 20;
  top: 18%;
  left: 4%;
  transform: rotateY(180deg);
  transform: translate(-150%, -150%);
}

/* Cont04 */
.cont04 {
  width: 100%;
  height: 100%;
  font-weight: 700;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 100px 0;
}

.cont04_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cont04 .txt-area {
  display: flex;
  font-size: 4rem;
  text-align: center;
  z-index: 2;

}

.cont04 .txt-area .cont04_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2em;
  width: 100%;
  margin-bottom: 20px;
}

.cont04 .txt-area .cont04_wrap .p1 {
  position: relative;
  margin-top: 160px;
}

.cont04 .txt-area .cont04_wrap .p1:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../images/icn_quote_bk.png) no-repeat center;
  top: -100px;
  left: 50%;
  transform: translateX(-50%)
}

.bg_wrap {
  z-index: 1;
}

.cont04 .bg {
  border-radius: 3%;
  width: 500px;
  height: 800px;
  content: '';
  background: url(../images/cont04_img01.png) no-repeat center / cover;
  box-shadow: 1px 4px 12px 2px rgba(151, 151, 151, 0.3);
}

.ambassador {
  font-size: 2rem;
  position: relative;
  margin-top: 100px
}

.cont04 .txt-area .ambassador:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* Cont05 */

/* SWIPER */
.cont05 .swiper {
  overflow: visible;
  position: relative;
  width: 1180px;
}

.cont05 .btn-wrap {
  width: 340px;
  height: 48px;
  position: absolute;
  bottom: 150px;
}



.cont05 .swiper-button-next {
  right: 0;
}

.cont05 .swiper-button-prev {
  left: 0;
}

.cont05 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
}

.cont05 .contents_wrap {
  max-width: 1180px;
  padding: 20px 10px 20px 0;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  left: -20px
}

.cont05 .title {
  position: absolute;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Pretendard';
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 14px;
  margin-right: 20px;
  z-index: 20;
  padding-top: 10%;
  width: 380px;
  height: 551px;
  background: url(../images/00.png) center bottom 20% / 40% no-repeat #2c96e1;
  box-shadow: 0 0 8px 3px rgba(151, 151, 151, 0.3);
}

.cont05 .title .tit {
  display: block;
  line-height: 1.3em;
}

.cont05 .title .tit:nth-child(3) {
  font-size: 2.4em;
  line-height: 1.4em;
}

.howToList {
  display: flex;
}

.howToList .item {
  width: 380px;
  height: 551px;
  box-shadow: 0 0 8px 3px rgba(151, 151, 151, 0.3);
  border-radius: 14px;
  box-sizing: border-box;
  background: #fff;
  padding: 100px 40px 0;
  color: #555;
  position: relative;
}

.howToList .item h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.howToList .item p {
  text-indent: 10px;
  line-height: 1.4em;
}

.howToList .itm01:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 30%;
  margin-bottom: 10px;
  right: 20px;
  opacity: .4;
  background: url(../images/01.png) center/cover no-repeat;
  bottom: 5%;
}

.howToList .itm02:after {
  content: '';
  position: absolute;
  width: 42%;
  height: 29%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/02.png) center/cover no-repeat;
}

.howToList .itm03:after {
  content: '';
  position: absolute;
  width: 56%;
  height: 34%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/03.png) center/cover no-repeat;
}

.howToList .itm04:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 34%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/04.png) center/cover no-repeat;
}

.howToList .itm05:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 34%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/05.png) center/cover no-repeat;
}

.howToList .itm06:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 34%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/06.png) center/cover no-repeat;
}

.howToList .itm07:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 33%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/07.png) center/cover no-repeat;
}

.howToList .itm08:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 33%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/08.png) center/cover no-repeat;
}

.howToList .itm09:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 33%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/09.png) center/cover no-repeat;
}

.howToList .itm10:after {
  content: '';
  position: absolute;
  width: 48%;
  height: 33%;
  bottom: 5%;
  right: 20px;
  opacity: .4;
  background: url(../images/10.png) center/cover no-repeat;
}



/* CONT06 */
.cont06 {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.cont06 .container {
  color: #fff;
  width: 100%;
  height: 100%;
  background: url(../images/cont06_bg.png) no-repeat center/cover;
  position: relative;
}

.cont06 .cont-area {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.cont06 .subtitle {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.cont06 .tit {
  font-size: 3.0rem;
  font-weight: 700;
  line-height: 1.4em;
}

.cont06 .btn-common {
  margin-top: 40px;
  width: 100%;
}

.cont06 .btn-common a {
  box-sizing: border-box;
  border-radius: 14px;
  display: block;
  width: 70%;
  padding: 20px;
  font-weight: 700;
  line-height: 1.4;
  background: url(../images/arrow_rt.png) no-repeat center right 10% #000;
}

/* FOOTER */
.footer {
  padding: 40px 0;
  background-color: #000;
  text-align: center;
  z-index: 1;
  position: relative;
}

.footer .logo_footer {
  width: 100px;
  height: 40px;
  background: url(../images/logo_sm_wh.png) no-repeat center/contain;
  margin: 0 auto;
  opacity: 0.6;
}

.copy {
  color: #666;
  margin-top: 20px;
}

/* 테블릿 */
@media all and (min-width:768px) and (max-width:1023px) {

  .logo a {
    top: 1%;
    left: 1%;
  }

  /* donation-btn */
  .donation-btn--sticky {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donation-btn--sticky a {
    width: 300px;
    height: 46px;
    padding: 0;
    justify-content: center;
  }

  .donation-btn--sticky a .txt {
    text-indent: -99999px;
    width: 0;
    height: 0;
  }

  .donation-btn--sticky a:before {
    z-index: -1;
  }

  .donation-btn--sticky .dona-btn {
    display: block;
    color: #f1f1f1;
    font-size: 2.8rem;
  }

  .donation-btn--sticky a img {
    display: none;
  }

  /* VISUAL */

  /* shapes */
  .lefttop {
    width: 50%;
  }

  .leftbottom {
    width: 46%;
  }

  .righttop {
    width: 38%;
  }

  .rightbottom {
    width: 58%;
  }

  /* title */

  .visual .subtitle {
    font-size: 1.3rem;

  }

  .res-block {
    display: block;
  }

  .tit>p>img {
    width: 40%;
  }

  /* deco */
  .deco .el_earth {
    top: 6%;
    left: 28%;
    width: 18%;
  }

  .el_sun {
    top: 8%;
    right: 18%;
    width: 16%;
  }

  .el_trees1 {
    opacity: 0;
  }

  .el_trees2 {
    width: 16%;
  }

  .el_trees3 {
    bottom: 4%;
    right: 0;
    width: 16%;
  }

  /* CONT01 배경 */
  .cont01 .content {
    background: url(../images/cont1_bg01_tablet.jpg) no-repeat center/cover;
  }

  .content .bg02 {
    background: url(../images/cont1_bg02_tablet.jpg) no-repeat center/cover;
  }

  .content .bg03 {
    background: url(../images/cont1_bg03_tablet.jpg) no-repeat center/cover;
  }

  /* 시계 */
  .tit_set {
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
    width: 800px;
  }

  .tit_set .tit img {
    width: 100%;
  }

  .clock {
    height: 140px;
    top: 0;
    left: 39.4%;
  }

  .clock .hour {
    width: 23px;
    height: 3px;
  }

  .clock .hour::after {
    width: 8px;
    height: 3px;
    left: -8px;
  }

  .clock .min {
    width: 38px;
    height: 3px;
  }

  .clock .min::after {
    width: 8px;
    height: 3px;
    left: -8px;
  }

  .cont01 .txt {
    font-size: 2.6rem;
    line-height: 1.3em;
  }

  .title {
    height: 50px;
  }

  .title .suggestion01 {
    width: 768px;
    font-size: 4rem;
    height: 80px;
  }

  .title .suggestion02 {
    width: 680px;
    font-size: 2.9rem;
    height: 80px;
    line-height: 1em;
  }

  .suggestion02 .block01 img {
    height: 59px;
    margin-bottom: -12px;
  }

  .title_set .inner_txt {
    margin-top: 30px;
    height: 120px;
  }

  .inner_txt .itm {
    font-size: 2.4rem;
    line-height: 1.2em;
  }

  .cont03 {
    width: 100%;
    padding: 0 140px;
    font-size: 2.0rem;
  }

  .cont03 .itm {
    width: 100%;
    height: 80vh;
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 80px;
  }

  .cont03 .item01 .p2,
  .cont03 .item02 .para1 .p1 {
    font-size: 4rem;
  }

  .cont03 .item02 .para1 .p2,
  .cont03 .item02 .para2 .p1 {
    font-size: 2rem;
  }

  .rm5 {
    font-size: 4rem;
  }

  .shapes_set .item01 {
    width: 434px;
    height: 209px;
  }

  .shapes_set .item02 {
    width: 90px;
    height: 97px;
    top: 4%;
    left: 38%;
  }

  .shapes_set .item03 {
    width: 512px;
    height: 102px;
  }

  .shapes_set .item04 {
    width: 52px;
    height: 89px;
  }

  .shapes_set .item05 {
    width: 330px;
    height: 267px;
  }

  .shapes_set .item06 {
    width: 216px;
    height: 235px;
  }

  .shapes_set .item07 {
    bottom: 22%;
    width: 127px;
    height: 104px;
  }

  .shapes_set .item08 {
    width: 379px;
    height: 255px;
  }

  .shapes_set .item09 {
    width: 613px;
    height: 157px;
  }

  .shapes_set .item10 {
    width: 349px;
    height: 242px;
  }

  .shapes_set .item11 {
    bottom: 12%;
    width: 167px;
    height: 271px;
  }

  .shapes_set .item12 {
    bottom: 24%;
    left: 3%;
    width: 121px;
    height: 152px;
  }

  .shapes_set .item13 {
    top: 12%;
    width: 97px;
    height: 104px;
  }


  /* Cont04 */
  .cont04 {
    padding: 0 0 100px 0;
  }

  .cont04 .txt-area {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .cont04 .txt-area .ambassador:after {
    top: -10px;
  }

  .cont05 .btn-wrap {
    display: none;
  }

  .cont05 .title {
    font-size: 1.5rem;
    padding-top: 10%;
  }

  .cont06 .tit {
    font-size: 1.8rem;
    line-height: 1.3em;
  }

}

/* 모바일 */
@media all and (max-width:767px) {

  .logo a {
    top: 1%;
    left: 1%;
  }

  .wrap_fixed .pg_title {
    left: 2.5%;
  }

  /* donation-btn */
  .donation-btn--sticky {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donation-btn--sticky a {
    width: 300px;
    height: 46px;
    padding: 0;
    justify-content: center;
  }

  .donation-btn--sticky a .txt {
    text-indent: -99999px;
    width: 0;
    height: 0;
  }

  .donation-btn--sticky a:before {
    z-index: -1;
  }

  .donation-btn--sticky .dona-btn {
    display: block;
    color: #f1f1f1;
    font-size: 2.8rem;
  }

  .donation-btn--sticky a img {
    display: none;
  }

  /* VISUAL */

  /* shapes */
  .lefttop {
    width: 50%;
  }

  .leftbottom {
    width: 50%;
  }

  .righttop {
    width: 35%;
  }

  .rightbottom {
    width: 68%;
  }

  /* title */
  .visual .subtitle {
    font-size: 1.0rem;
  }

  .res-block {
    display: block;
  }

  .tit>p>img {
    width: 50%;
  }

  /* deco */
  .deco .el_earth {
    top: 4%;
    left: 30%;
    width: 18%;
  }

  .el_sun {
    top: 6%;
    right: 18%;
    width: 16%;
  }

  .el_trees1 {
    opacity: 0;
  }

  .el_trees2 {
    opacity: 0;
  }

  .el_trees3 {
    bottom: 6%;
    right: 0;
    width: 18%;
  }

  /* CONT01 배경 */
  .cont01 .content {
    background: url(../images/cont1_bg01_mobile.jpg) no-repeat center/cover;
  }

  .content .bg02 {
    background: url(../images/cont1_bg02_mobile.jpg) no-repeat center/cover;
  }

  .content .bg03 {
    background: url(../images/cont1_bg03_mobile.jpg) no-repeat center/cover;
  }

  /* 시계 */
  .tit_set {
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
    width: 400px;
  }

  .tit_set .tit img {
    width: 100%;
  }

  .clock {
    width: 70px;
    height: 70px;
    top: 0;
    left: 40%;
  }

  .clock .hour {
    width: 13px;
    height: 3px;
  }

  .clock .hour::after {
    width: 6px;
    height: 3px;
    left: -7px;

  }

  .clock .min {
    width: 20px;
    height: 3px;
  }

  .clock .min::after {
    width: 8px;
    height: 3px;
    left: -7px;
  }

  .cont01 .txt {
    font-size: 2rem;
    line-height: 1.3em;
  }

  .title {
    height: 40px;
  }

  .title .suggestion01 {
    width: 420px;
    font-size: 2.2rem;
    height: 60px;
  }

  .suggestion02 .block01 {
    margin: 0;
  }

  .suggestion02 .block01 img {
    height: 44px;
    margin: 0;
  }

  .title .suggestion02 {
    width: 370px;
    font-size: 1.6rem;
    height: 60px;
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: -4px;
  }

  .title .suggestion02 .block02 {}

  .title_set .inner_txt {
    margin-top: 6px;
    height: 80px;
  }

  .inner_txt .itm {
    font-size: 1.9rem;
    line-height: 1.2em;
  }

  .cont03 {
    width: 100%;
    padding: 0 10%;
    font-size: 1.4rem;
  }

  .cont03 .itm {
    width: 100%;
    height: 60vh;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 60px;
  }

  .cont03 .item01 .p2,
  .cont03 .item02 .para1 .p1 {
    font-size: 3rem;
  }

  .cont03 .item02 .para1 .p2,
  .cont03 .item02 .para2 .p1 {
    font-size: 1.2rem;
  }

  .rm5 {
    font-size: 2.0rem;
  }

  .cont03 .item04 {
    font-size: 1.1rem
  }

  .shapes_set .item01 {
    width: 289px;
    height: 140px;
  }

  .shapes_set .item02 {
    width: 60px;
    height: 64px;
    top: 4%;
    left: 38%;
  }

  .shapes_set .item03 {
    width: 342px;
    height: 68px;
  }

  .shapes_set .item04 {
    width: 35px;
    height: 59px;
  }

  .shapes_set .item05 {
    width: 220px;
    height: 178px;
  }

  .shapes_set .item06 {
    width: 144px;
    height: 156px;
  }

  .shapes_set .item07 {
    bottom: 17%;
    width: 85px;
    height: 69px;
  }

  .shapes_set .item08 {
    width: 252px;
    height: 170px;
  }

  .shapes_set .item09 {
    width: 409px;
    height: 105px;
  }

  .shapes_set .item10 {
    width: 232px;
    height: 161px;
  }

  .shapes_set .item11 {
    bottom: 12%;
    width: 111px;
    height: 181px;
  }

  .shapes_set .item12 {
    bottom: 20%;
    left: 4%;
    width: 81px;
    height: 101px;
  }

  .shapes_set .item13 {
    top: 10%;
    width: 64px;
    height: 70px;
  }

  /* Cont04 */
  .cont04 {
    padding: 0 0 100px 0;
  }

  .cont04 .txt-area {
    font-size: 2rem;
    margin-bottom: 60px;
  }

  .cont04 .txt-area .ambassador:after {
    top: -20px;
  }

  /* SWIPER */
  .cont05 .swiper {
    width: 767px;
  }

  .cont05 .btn-wrap {
    display: none;
  }

  .cont05 .title {
    font-size: 1.6rem;
    margin-right: 20px;
    width: 240px;
    height: 400px;
  }

  .howToList .item {
    width: 238px;
    height: 400px;

  }

  .cont05 .title {
    font-size: 1.4rem;
    padding-top: 10%;
    /* margin-left: -20px; */
  }

  .howToList .item {
    padding: 40px;
  }

  .howToList .item h3 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  .howToList .itm01:after {
    bottom: 0;
    opacity: .2;
  }

  .howToList .itm02:after {
    width: 41%;
    height: 25%;
    bottom: 16px;
    right: 20px;
    opacity: .2;
  }

  .howToList .itm03:after {
    width: 50%;
    height: 25%;
    bottom: 0;
    opacity: .2;
  }

  .howToList .itm04:after {
    width: 50%;
    height: 31%;
    bottom: 20px;
    opacity: .2;
  }

  .howToList .itm05:after {
    width: 50%;
    height: 30%;
    bottom: 20px;
    opacity: .2;
  }

  .howToList .itm06:after {
    width: 50%;
    height: 30%;
    bottom: 10px;
    opacity: .2;
  }

  .howToList .itm07:after {
    width: 50%;
    height: 30%;
    bottom: 20px;
    opacity: .2;
  }

  .howToList .itm08:after {
    width: 50%;
    height: 30%;
    bottom: 10px;
    opacity: .2;
  }

  .howToList .itm09:after {
    width: 50%;
    height: 30%;
    bottom: 20px;
    opacity: .2;
  }

  .cont06 .tit {
    font-size: 1.4rem;
    line-height: 1.4em;
    color: #666;
  }

  .cont06 .cont-area {
    display: none;
  }
}